
.App {
  text-align: center;
}

.App-header {
  background-color: #364666;
  padding: 20px;
  color: white;
}

.heading-text{
  color: rgb(112, 122, 119);
  font-family: cursive;
  text-align: left;
  margin-top: 0px;
}
button {
  margin: 10px;

}

.filter-input{
  padding: 5px;
  margin: 10px;
  width: 300px;
  border-radius: 5px;
  padding: 8px 20px;
  border: 1px solid rgb(46, 199, 82);
  outline-color: rgb(46, 199, 82);
  
}
.create-btn{
  padding: 8px 20px;
 border-radius: 5px;
 background-color: rgb(35, 180, 35);
 color: white;
 border: none;
}
